.colorBlanco {
  color: #ffffff;
}
.hover:hover {
  color: orange;
}
.lista {
  background-color: #1f1f1f;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  grid-auto-rows: auto;
  gap: 10px;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  padding: 100px;
}
.fondoCharacter {
  margin-top: 0px;
  background-color: #4e4f4f;
  align-items: center;
  list-style-image: initial;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.fondoTexto {
  width: auto;
  height: 94%;
  padding-top: 5px;
  gap: 3px;
}
img {
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
  width: 100%;
  object-fit: cover;
  max-width: 250px;
}
.elemento {
  border: 2px solid red;
}
.colorGris {
  background-color: #606060;
}
.header {
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 60px;
  margin-right: 100px;
  list-style: none;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.gris {
  color: #bababa;
}
h3 {
  padding: 1px;
  margin: 1px;
  color: red;
}
h1 {
  font-size: 100px;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 800;
  text-align: center;
  padding: 25px;
}
