.colorBlanco {
  color: #ffffff;
}
h3:hover {
  color: orange;
}
.container {
  background-color: #242424;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}
#fondoCharacter {
  background-color: #4e4f4f;
  align-items: center;
  list-style-image: initial;
  border-radius: 10%;
}
